@media screen and (max-width:480px){
.revie-in-page-style{
    margin-left: 40% ;
}
}
.btn-style-set{
    font-weight: 700;
    border: none;
    padding: 15px 40px;
    color: white;
    background-color:rgb(80, 170, 255);
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.link-style{
    text-decoration: none;
    color: white;
    font-size: 17px;
}