.blog-style{
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid saddlebrown;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.blog-style p{
    font-size: large;
    font-weight: 700;
}
.ans-style{
    color: black;
    font-weight: 500;
}

@media screen and (max-width:688px){
    .blog-style{
        text-align: justify;
        margin-left: 8%;
        border: 1px solid saddlebrown;
        margin-top: 20px;
        padding-left: 0;
        padding-right:0;
        width: 80%;
    }
    .main-h2{
        margin-left: 0;
    }
}