.footer-style{
    background-color: rgb(2, 2, 54);
    color: white;
    padding: 40px;
}
@media screen and (max-width:688px){
    .footer-style{
        background-color: rgb(2, 2, 54);
        color: white;
        padding: 40px;
        width:81%;
    }
}